.camera-capture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh; /* Full viewport height */
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 100%;
  height: auto;
}

.photo-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%; /* Ensure the preview doesn't overflow */
}

.captured-photo-img {
  max-width: 100%;
  max-height: 50vh; /* Limit height to 50% of viewport height */
  object-fit: contain; /* Preserve aspect ratio */
  border: none; /* Remove any default border */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.photo-timestamp {
  margin-top: 10px;
}

.open-camera-button,
.confirm-button,
.reshoot-button {
  margin: 10px;
}

.reshoot-button {
  background-color: #e45d53; /* Red */
  color: white;
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Show pointer cursor on hover */
}

.open-camera-button, .capture-button, .confirm-button {
  background-color: #2a90fc; /* Blue */
  color: white;
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Show pointer cursor on hover */
}
