.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    background-color: white; 
    z-index: 1000; /* Ensures the header stays on top */
  }
  

  .header-logo {
    height: 100px; 
    width: auto;  
  }