.login-container {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(26, 48, 56, 0.1);
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.input-group {
  position: relative;
  margin-bottom: 17px; /* Space between input fields */
}

.input-group input {
  width: calc(100% - 20px); /* Full width minus space for icons */
  padding: 10px 40px 10px 40px; /* Padding to accommodate icons */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.input-group .input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
}

.input-group .input-icon.fa-user {
  left: 23px; /* Position for the user icon */
}

.input-group .input-icon.fa-lock {
  left: 23px; /* Position for the lock icon */
}

.input-group .password-toggle {
  position: absolute;
  top: 50%;
  right: 18px; /* Position for the eye icon */
  transform: translateY(-50%);
  font-size: 18px;
  color: #888;
  cursor: pointer;
}

.login-container button {
  width: calc(100% - 20px); /* Matches the width of input fields */
  padding: 10px 0; /* Center the button text vertically */
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 50px; /* Space between the button and forgot password link */
  box-sizing: border-box; /* Ensures padding is included in the width */
  text-align: center; /* Center the text horizontally */
  margin-left: 10px; /* Aligns button with input fields */
}

.login-container .error {
  color: red;
  margin-top: 10px;
}

